[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trio = "*"
asks = "*"
bib = {editable = true, path = "."}
trio-click = "*"
pkginfo = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
